<main>
  <div class="container-fluid">
    <div class="row h-100">



      <!-- SELETTORI BRAND/MODELLI -->
      <div class="brand-column col-12 col-md-2 order-2 order-md-1 d-flex flex-md-column align-items-md-center justify-content-md-between">
        <button *ngFor="let product of products" class="brand-box d-flex justify-content-center align-items-center z-3" (click)="open3d(product)">
          <img [src]="product?.brand?.profilePicture" alt="">
        </button>
      </div>

      <!-- CANVAS MODELLI -->
      <div class="col-12 col-md-10 order-1 order-md-2 h-100 d-flex flex-column justify-content-center align-items-center" #canvasContainerRef>

        <h1 class="fw-bolder text-center" *ngIf="showText">TOP FOUR PRODUCTS BY BRANDS</h1>

        <h3 class="p-5 text-center" *ngIf="showText"><span class="fw-bolder fst-italic">
          WearUp</span> <span class="fw-light"> bring you on a discovery of the virtual fashion world.</span><br>
          <span class="fw-light">Choose</span><span class="fw-bolder fst-italic"> better</span>. <br>
          <span class="fw-light">Be</span><span class="fw-bolder fst-italic"> aware</span>.
          <br><br>
          <span class="fw-bolder fst-italic"> WEAR IT UP</span>
        </h3>

        <app-tryit-canvas3d *ngIf="!showText" class="h-100"
        [productData]="selectedProduct"
        [containerWidth]="canvasContainerRef.offsetWidth"
        [containerHeight]="canvasContainerRef.offsetHeight"
        ></app-tryit-canvas3d>
      </div>

    </div>
  </div>
</main>
