<div class="container">
  <!-- Utilizzo di Bootstrap per il layout -->
  <div class="row">
    <div class="col-md-6 pb-3  pb-md-0 d-flex align-items-center justify-content-center">
      <!-- Riquadro per mostrare l'immagine caricata o un placeholder -->
      <div class="mt-3 position-relative">
        <div class="d-flex justify-content-center">
          <!-- Mostra l'immagine caricata se disponibile -->
          <ng-container *ngIf="isImageLoaded; else placeholder">
            <img [src]="imageSrc" alt="Uploaded Image" class="img-thumbnail rounded-5 img-square">
          </ng-container>
          <!-- Mostra un placeholder se l'immagine non è disponibile -->
          <ng-template #placeholder>
            <div class="imagePlaceholder d-flex flex-column align-items-center justify-content-center text-white rounded-5 ">
              <div class="mb-2 mb-md-3">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 120" fill="">
                  <path d="M65.2209 5.43504C65.2209 2.43334 62.7875 -3.05176e-05 59.7858 -3.05176e-05C56.7841 -3.05176e-05 54.3508 2.43334 54.3508 5.43504V54.3614H5.43507C2.43336 54.3614 0 56.7947 0 59.7964C0 62.7981 2.43336 65.2315 5.43507 65.2315H54.3508V114.147C54.3508 117.149 56.7841 119.582 59.7858 119.582C62.7875 119.582 65.2209 117.149 65.2209 114.147V65.2315H114.137C117.138 65.2315 119.572 62.7981 119.572 59.7964C119.572 56.7947 117.138 54.3614 114.137 54.3614H65.2209V5.43504Z" fill=""/>
                </svg>
              </div>
              <p class="m-0 px-2 text-center">Load your profile picture</p>
            </div>
          </ng-template>
        </div>
        <!-- Icona per cancellare l'immagine -->
        <button *ngIf="isImageLoaded" class="position-absolute bg-white p-2 border-0 rounded-circle d-flex" style="top: 0; right: 0;" (click)="cancelImage()">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 32 32" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M29.4843 10.2007C31.6068 8.07817 31.6068 4.63687 29.4843 2.51434C27.3618 0.391816 23.9205 0.391816 21.798 2.51434L15.9978 8.31454L10.1994 2.51622C8.07691 0.393689 4.63561 0.393689 2.51308 2.51622C0.39055 4.63875 0.390551 8.08005 2.51308 10.2026L8.3114 16.0009L2.51305 21.7993C0.390524 23.9218 0.390523 27.3631 2.51305 29.4856C4.63558 31.6081 8.07688 31.6081 10.1994 29.4856L15.9978 23.6873L21.7961 29.4856C23.9186 31.6081 27.3599 31.6081 29.4824 29.4856C31.6049 27.363 31.6049 23.9217 29.4824 21.7992L23.6841 16.0009L29.4843 10.2007Z" fill="#FF0000"/>
          </svg>
        </button>
      </div>
    </div>

    <div class="col-md-6">
      <!-- Form per l'immagine -->
      <form [formGroup]="imageForm" class="mb-4">
        <div class="form-group">
          <div class="d-flex justify-content-between">
            <label for="profilePicture" class="form-label">Brand Picture</label>
            <span class="info-text d-flex align-items-center"> .jpg / .jpeg / .png</span>
          </div>
          <input type="file" class="form-control" id="profilePicture" formControlName="profilePicture" #fileInput (change)="imageUploaded($event)">
        </div>
      </form>
      <!-- Form per i dettagli -->
      <form [formGroup]="detailsForm">

        <div class="form-group mb-2">
            <label for="brandName" class="form-label">Brand name*</label>
          <input type="text" class="form-control" id="brandName" formControlName="brandName">
          <div *ngIf="detailsForm.get('brandName')?.invalid && (detailsForm.get('brandName')?.dirty || detailsForm.get('brandName')?.touched)">
            <small class="text-danger" *ngIf="detailsForm.get('brandName')?.errors?.['required']">This field is required.</small>
          </div>
        </div>

        <div class="form-group mb-2">
          <label for="webSite" class="form-label">Website</label>
          <input type="text" class="form-control" id="webSite" formControlName="webSite">
        </div>

        <div class="form-group mb-2 d-flex">
          <div class="row">
            <div class="col-4 mb-2 mb-md-0">
              <label for="country" class="form-label">Country*</label>
              <select class="form-control" id="country" formControlName="country" (change)="onCountryChange($event)">
                <option value="" disabled selected>Select</option>
                <option *ngFor="let country of countries" [value]="country.iso2">{{country.name}}</option>
              </select>
            </div>
            <div class="col-4 col-md-2 px-2">
              <label for="city" class="form-label">City*</label>
              <select class="form-control" id="city" formControlName="city">
                <option value="" disabled selected>Select</option>
                <option *ngFor="let city of selectedCountry?.states" [value]="city.state_code">{{city.state_code}}</option>
              </select>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group mb-2">
                <label for="address" class="form-label">Address*</label>
                <input type="text" class="form-control" id="address" formControlName="address">
                <div *ngIf="detailsForm.get('address')?.invalid && (detailsForm.get('address')?.dirty || detailsForm.get('address')?.touched)">
                  <small class="text-danger" *ngIf="detailsForm.get('address')?.errors?.['required']">This field is required.</small>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group mb-2">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-2">
                <label for="phoneNumber" class="form-label">Phone Number</label>
                <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group mb-2">
                <label for="vatNumber" class="form-label">VAT Number*</label>
                <input type="text" class="form-control" id="vatNumber" formControlName="vatNumber">
                <div *ngIf="detailsForm.get('vatNumber')?.invalid && (detailsForm.get('vatNumber')?.dirty || detailsForm.get('vatNumber')?.touched)">
                  <small class="text-danger" *ngIf="detailsForm.get('vatNumber')?.errors?.['required']">This field is required.</small>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group mb-2">
          <div class="d-flex justify-content-between">
            <label for="email" class="form-label">Email*</label>
            <span class="info-text d-flex align-items-center">insert valid email</span>
          </div>
          <input type="email" class="form-control" id="email" formControlName="email">
          <div *ngIf="detailsForm.get('email')?.invalid && (detailsForm.get('email')?.dirty || detailsForm.get('email')?.touched)">
            <small class="text-danger" *ngIf="detailsForm.get('email')?.errors?.['required']">This field is required.</small>
          </div>
        </div>

        <div class="form-group mb-2">
          <div class="d-flex justify-content-between">
            <label for="password" class="form-label">Password*</label>
            <span class="info-text d-flex align-items-center">6 characters minimum</span>
          </div>
          <input type="password" class="form-control" id="password" formControlName="password">
          <div *ngIf="detailsForm.get('password')?.invalid && (detailsForm.get('password')?.dirty || detailsForm.get('password')?.touched)">
            <small class="text-danger" *ngIf="detailsForm.get('password')?.errors?.['required']">This field is required.</small>
          </div>
        </div>

      </form>
    </div>
  </div>

  <!-- Pulsante Submit unico -->
  <div class="row">
    <div class="col-md-12 text-center mt-2">
      <div id="server-response" class="my-2">
        <div *ngIf="isLoading" class="loader">
          <div class="spinner-grow" style="background-color: #6C2483;" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow" style="background-color: #E94E1B;" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow" style="background-color: #EF790C;" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow" style="background-color: #FFED00;" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <span *ngIf="serverMessageOk" class="text-success bg-success border border-success border-2 rounded-3 p-2" style="--bs-bg-opacity: .3;">{{ serverMessageOk }}</span>
        <span *ngIf="serverMessageError" class="text-danger bg-danger border border-danger border-2 rounded-3 p-2" style="--bs-bg-opacity: .3;">{{ serverMessageError }}</span>
      </div>
      <button class="register-btn btn mb-5 mt-3" (click)="onSubmit()" [disabled]="!imageForm.valid || !detailsForm.valid" >Register</button>
    </div>
  </div>
</div>





