@import "../../../styles_partials/colors";


.triangle-right{
z-index: 1;
position: absolute;
transform: translate(1300px, -140px);
}

.triangle-left{
  z-index: 1;
  position: absolute;
  transform: translate(-400px, 440px);
  }



header{
  padding-top: 100px;
  background: linear-gradient(192deg, rgba(255, 242, 0, 0.55) -13.44%, rgba(245, 127, 35, 0.55) 24.97%, rgba(232, 78, 27, 0.55) 57.46%, rgba(102, 36, 131, 0.55) 100%);
  padding-bottom: 300px;

  .claim-group{
    top: 25%;
    h1{
      font-size: 3.7em;
      .claim{
        font-size: 4.5rem;
      }
    }

    .btn-cta{
      transform: translateY(-15px);
      font-size: small;
      border-radius: 20px;
      background: linear-gradient(258deg, #FFED00 -5.87%, #EF790C 30.46%, #E94E1B 66.79%, #6C2483 103.12%);
      border: none;
      font-weight: 700;
      color: white;
      padding: 10px 20px;

        &:hover{
          background: linear-gradient(258deg, rgba(255, 238, 0, 0.8) -5.87%, rgba(239, 122, 12, 0.8) 30.46%, rgba(233, 79, 27, 0.8) 66.79%, rgba(107, 36, 131, 0.8) 103.12%);
        }

        &:active {
          box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.45);
        }
      }
  }

  .btn-store-group{
    top: 30%;

    h4{
      transform: translateX(-85%);
    }
  }

  .wup-tshirt{
    width: 50%;
    max-width: 433px;
  }
}

main{
  padding-top: 100px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 10.2%);
  position: relative;
  top: -300px;

  .main-container{
    margin-bottom: -300px;

    .card {
      border-radius: 20px;
      background: linear-gradient(130deg, rgba(255, 255, 255, 0.20) 7.63%, rgba(255, 255, 255, 0.05) 69.86%);
      box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
      backdrop-filter: blur(15px);
      height: 354px;
      width: 300px;
      padding: 20px 30px;
      --bs-card-border-color:none;

      .text{
        line-height: 114.5%;
      }

      .experience{
        font-size: 2em;
        font-weight: 300;
        background: linear-gradient(199deg, #E94E1B 22.91%, #662483 78.41%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

    }

    .section2{
      margin-top: 3em;

      .card-fun {
        border-radius: 20px;
        background: linear-gradient(130deg, rgba(255, 255, 255, 0.20) 7.63%, rgba(255, 255, 255, 0.05) 69.86%);
        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(15px);
        height: 473px;
        width: 600px;
        padding: 20px 30px;
        --bs-card-border-color:none;
        text-align: justify;

        .text{
          line-height: 114.5%;
        }

        .experience{
          font-size: 2em;
          font-weight: 300;
          background: linear-gradient(199deg, #E94E1B 22.91%, #662483 78.41%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .image-container{
          transform: translate(-70px, -70px);
        }
      }
    }

    .section3{
      background: linear-gradient(0deg, #282828 18.08%, #FFF 100%);
      padding-top: 250px;

      img{
        border-radius: 3em;
      }

      .card-top {
        border-radius: 20px;
        background: linear-gradient(130deg, rgba(255, 255, 255, 0.20) 7.63%, rgba(255, 255, 255, 0.05) 69.86%);
        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(15px);
        height: 439px;
        width: 300px;
        padding: 20px 30px;
        --bs-card-border-color:none;
        text-align: justify;
        margin-bottom: 100px;

        .text{
          line-height: 114.5%;
        }

        .experience{
          font-size: 2em;
          font-weight: 300;
          background: linear-gradient(199deg, #E94E1B 22.91%, #662483 78.41%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

      }
    }
  }
}

@media (max-width: 767px) {
  main{
    padding-top: 200px;
  }

  .main-container{
    margin-bottom: 0px;
  }

  .card-fun{
    max-width: 300px;
    margin: auto;
  }

  .section3{
    padding-top: 0px;
  }
}
