@import "../../../styles_partials/colors";

main{
  height: calc(100vh - 203px);
  background: linear-gradient(192deg, rgba(255, 242, 0, 0.50) -13.44%, rgba(245, 127, 35, 0.50) 24.97%, rgba(232, 78, 27, 0.50) 57.46%, rgba(102, 36, 131, 0.50) 100%);  padding-top: 100px;

  // ---------------------------- COLONNA INFO

  .colonna-info{

    .product-info{
      background: linear-gradient(to bottom, $primary-black, transparent);
      color: white;
    }

    ::-webkit-scrollbar {
      width: 0;
      height: 0;
      display: none;
    }

    scrollbar-width: none;

  }

  // ---------------------------- COLONNA CONTROLLI

  .product-3d {
    height: calc(100vh - 303px);

    button {
      width: 60px;
      height: 60px;
      border-radius: 20px;
      border: none;
      background-color: hsla(0, 0%, 16%);
      box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);

      &:active{
        transform: scale(0.95);
        box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.372);
      }
    }


  }

  .response-container{
    position:absolute;
    top: 45%;
    left: 40%;
  }


}

