$primary-black: #282828;
$purple: #6C2483;
$dark-orange:#E94E1B;
$light-orange:#EF790C;
$yellow:#FFED00;
$footer-gray:#818080;

//linear-gradient(192deg, rgba(255, 242, 0, 0.50) -13.44%, rgba(245, 127, 35, 0.50) 24.97%, rgba(232, 78, 27, 0.50) 57.46%, rgba(102, 36, 131, 0.50) 100%);
