<main>
  <div class="container-fluid position-relative">
    <div class="row">

      <!-- COLONNA 1 -->
      <div class="col-md-4 d-none d-md-block">
        <!-- form di ricerca -->
        <div class="form-container rounded-4">

          <form [formGroup]="searchForm" (ngSubmit)="onSubmit(token)" class="container mt-3 p-3">
            <div class="mb-2">
              <input formControlName="productCode" type="text" class="form-control form-control-sm custom-input" placeholder="Product Code">
            </div>
            <div class="mb-2">
              <input formControlName="productName" type="text" class="form-control form-control-sm custom-input" placeholder="Product Name">
            </div>

            <div class="d-flex gap-3">
              <div class="mb-2 flex-grow-1">
                <select formControlName="brand" class="form-select form-select-sm">
                  <option value="" disabled selected>Brand</option>
                  <option *ngFor="let brand of brands" [value]="brand.brandName">{{ brand.brandName }}</option>
                </select>
              </div>
              <div class="mb-2 flex-grow-1">
                <select formControlName="type" class="form-select form-select-sm">
                  <option value="" disabled selected>Category</option>
                  <option *ngFor="let type of types" [value]="type">{{ type }}</option>
                </select>
              </div>
            </div>

            <div class="d-flex ">
              <div class="mb-2 flex-grow-1 pe-3">
                <select formControlName="minPrice" class="form-select form-select-sm">
                  <option value="" disabled selected>Min Price</option>
                  <option *ngFor="let minPrice of minPrices" [value]="minPrice">{{ minPrice }}</option>
                </select>
              </div>
              <div class="mb-2 flex-grow-1">
                <select formControlName="maxPrice" class="form-select form-select-sm">
                  <option value="" disabled selected>Max Price</option>
                  <option *ngFor="let maxPrice of maxPrices" [value]="maxPrice">{{ maxPrice }}</option>
                </select>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Order By:</label><br>
                <div class="form-check form-check-inline">
                  <input formControlName="orderBy" type="radio" value="price" class="form-check-input" id="priceRadio">
                  <label class="form-check-label" for="priceRadio">Price</label>
                </div>
                <div class="form-check form-check-inline">
                  <input formControlName="orderBy" type="radio" value="creationDate" class="form-check-input" id="dateRadio">
                  <label class="form-check-label" for="dateRadio">Date</label>
                </div>
                <div class="form-check form-check-inline">
                  <input formControlName="orderBy" type="radio" value="likeCounter" class="form-check-input" id="likesRadio">
                  <label class="form-check-label" for="likesRadio">Likes</label>
                </div>
                <div class="form-check form-check-inline">
                  <input formControlName="orderBy" type="radio" value="productName" class="form-check-input" id="nameRadio">
                  <label class="form-check-label" for="nameRadio">Name</label>
                </div>
            </div>


            <div class="text-center">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </form>

        </div>

        <!-- elenco brand -->
        <div class="brand-menu-container mt-3">

          <a *ngIf="userType === 'Brand'" [routerLink]="['/create-product']"  class="brand-link-menu create-new-product">
            <div class="d-flex justify-content-between align-items-center py-1 px-2 mb-2 me-2 rounded-4 create-new-product">
              <p class="m-0 pe-2 text-white" style=" font-weight: 700;">CREATE NEW PRODUCT</p>
              <div class="image rounded-3 overflow-hidden my-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                  <path d="M16.3621 1.36348C16.3621 0.610435 15.7517 -3.05176e-05 14.9986 -3.05176e-05C14.2456 -3.05176e-05 13.6351 0.610435 13.6351 1.36348V13.6378H1.36351C0.610465 13.6378 0 14.2482 0 15.0013C0 15.7543 0.610465 16.3648 1.36351 16.3648H13.6351V28.6365C13.6351 29.3895 14.2456 30 14.9986 30C15.7517 30 16.3621 29.3895 16.3621 28.6365V16.3648H28.6338C29.3868 16.3648 29.9973 15.7543 29.9973 15.0013C29.9973 14.2482 29.3868 13.6378 28.6338 13.6378H16.3621V1.36348Z" fill="white"/>
                </svg>
              </div>
            </div>
          </a>

          <a href="javascript:void(0)" (click)="getAllProducts(token)" class="brand-link-menu">
            <div class="box-elements d-flex justify-content-between align-items-center py-1 px-2 mb-2 me-2 rounded-4">
              <div class="image rounded-3 overflow-hidden bg-white my-1">
                <img src="../../../assets/images/Loghi_Brand_Wap-01.jpg"  style="width: 30px; height: 100;" alt="">
              </div>
              <p class="m-0 pe-2" style="font-weight: 700;">*ALL</p>
            </div>
          </a>

          <a href="javascript:void(0)" (click)="listproductByBrand(brand.brandName)" *ngFor="let brand of brands" class="brand-link-menu">
            <div class="box-elements d-flex justify-content-between align-items-center py-1 px-2 mb-2 me-2 rounded-4">
              <div class="image rounded-3 overflow-hidden bg-white my-1">
                <img [src]="brand.profilePicture"  style="width: 30px; height: 100;" alt="">
              </div>
              <p class="m-0 pe-2">{{brand.brandName | uppercase}}</p>
            </div>
          </a>


          <a href="javascript:void(0)" class="brand-link-menu">
            <div class="box-elements d-flex justify-content-between align-items-center py-1 px-2 mb-2 me-2 rounded-4">
              <div class="image rounded-3 overflow-hidden bg-white my-1">
                <img [src]=""  style="width: 30px; height: 100;" alt="">
              </div>
              <p class="m-0 pe-2"></p>
            </div>
          </a>
          <a href="javascript:void(0)" class="brand-link-menu">
            <div class="box-elements d-flex justify-content-between align-items-center py-1 px-2 mb-2 me-2 rounded-4">
              <div class="image rounded-3 overflow-hidden bg-white my-1">
                <img [src]=""  style="width: 30px; height: 100;" alt="">
              </div>
              <p class="m-0 pe-2"></p>
            </div>
          </a>
          <a href="javascript:void(0)" class="brand-link-menu">
            <div class="box-elements d-flex justify-content-between align-items-center py-1 px-2 mb-2 me-2 rounded-4">
              <div class="image rounded-3 overflow-hidden bg-white my-1">
                <img [src]=""  style="width: 30px; height: 100;" alt="">
              </div>
              <p class="m-0 pe-2"></p>
            </div>
          </a>
          <a href="javascript:void(0)" class="brand-link-menu">
            <div class="box-elements d-flex justify-content-between align-items-center py-1 px-2 mb-2 me-2 rounded-4">
              <div class="image rounded-3 overflow-hidden bg-white my-1">
                <img [src]=""  style="width: 30px; height: 100;" alt="">
              </div>
              <p class="m-0 pe-2"></p>
            </div>
          </a>
          <a href="javascript:void(0)" class="brand-link-menu">
            <div class="box-elements d-flex justify-content-between align-items-center py-1 px-2 mb-2 me-2 rounded-4">
              <div class="image rounded-3 overflow-hidden bg-white my-1">
                <img [src]=""  style="width: 30px; height: 100;" alt="">
              </div>
              <p class="m-0 pe-2"></p>
            </div>
          </a>
          <a href="javascript:void(0)" class="brand-link-menu">
            <div class="box-elements d-flex justify-content-between align-items-center py-1 px-2 mb-2 me-2 rounded-4">
              <div class="image rounded-3 overflow-hidden bg-white my-1">
                <img [src]=""  style="width: 30px; height: 100;" alt="">
              </div>
              <p class="m-0 pe-2"></p>
            </div>
          </a>
          <a href="javascript:void(0)" class="brand-link-menu">
            <div class="box-elements d-flex justify-content-between align-items-center py-1 px-2 mb-2 me-2 rounded-4">
              <div class="image rounded-3 overflow-hidden bg-white my-1">
                <img [src]=""  style="width: 30px; height: 100;" alt="">
              </div>
              <p class="m-0 pe-2"></p>
            </div>
          </a>
          <a href="javascript:void(0)" class="brand-link-menu">
            <div class="box-elements d-flex justify-content-between align-items-center py-1 px-2 mb-2 me-2 rounded-4">
              <div class="image rounded-3 overflow-hidden bg-white my-1">
                <img [src]=""  style="width: 30px; height: 100;" alt="">
              </div>
              <p class="m-0 pe-2"></p>
            </div>
          </a>

        </div>


      </div>

      <!-- bottone di ricerca a scomparsa -->
      <div class="d-md-none position-absolute z-1 text-end pt-3">
        <button type="button" data-bs-toggle="modal" data-bs-target="#searchModal" class="border-0 rounded-circle" style="width: 50px; height: 50px; background-color: #282828;">
          <i class="bi bi-search text-white fs-2 d-flex p-2"></i>
        </button>
      </div>
      <!-- form di ricerca modale -->
      <div class="modal fade mt-5" id="searchModal" tabindex="1">
        <div class="modal-dialog">
          <div class="modal-content rounded-5">
            <div class="modal-body rounded-4">
              <form [formGroup]="searchForm" (ngSubmit)="onSubmit(token)" class="container mt-3 p-3">
                <div class="mb-2">
                  <input formControlName="productCode" type="text" class="form-control form-control-sm custom-input" placeholder="Product Code">
                </div>
                <div class="mb-2">
                  <input formControlName="productName" type="text" class="form-control form-control-sm custom-input" placeholder="Product Name">
                </div>

                <div class="d-flex gap-3">
                  <div class="mb-2 flex-grow-1">
                    <select formControlName="brand" class="form-select form-select-sm">
                      <option value="" disabled selected>Brand</option>
                      <option *ngFor="let brand of brands" [value]="brand.brandName">{{ brand.brandName }}</option>
                    </select>
                  </div>
                  <div class="mb-2 flex-grow-1">
                    <select formControlName="type" class="form-select form-select-sm">
                      <option value="" disabled selected>Category</option>
                      <option *ngFor="let type of types" [value]="type">{{ type }}</option>
                    </select>
                  </div>
                </div>

                <div class="d-flex ">
                  <div class="mb-2 flex-grow-1 pe-3">
                    <select formControlName="minPrice" class="form-select form-select-sm">
                      <option value="" disabled selected>Min Price</option>
                      <option *ngFor="let minPrice of minPrices" [value]="minPrice">{{ minPrice }}</option>
                    </select>
                  </div>
                  <div class="mb-2 flex-grow-1">
                    <select formControlName="maxPrice" class="form-select form-select-sm">
                      <option value="" disabled selected>Max Price</option>
                      <option *ngFor="let maxPrice of maxPrices" [value]="maxPrice">{{ maxPrice }}</option>
                    </select>
                  </div>
                </div>

                <div class="mb-3">
                  <label class="form-label">Order By:</label><br>
                    <div class="form-check form-check-inline">
                      <input formControlName="orderBy" type="radio" value="price" class="form-check-input" id="priceRadio">
                      <label class="form-check-label" for="priceRadio">Price</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input formControlName="orderBy" type="radio" value="creationDate" class="form-check-input" id="dateRadio">
                      <label class="form-check-label" for="dateRadio">Date</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input formControlName="orderBy" type="radio" value="likeCounter" class="form-check-input" id="likesRadio">
                      <label class="form-check-label" for="likesRadio">Likes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input formControlName="orderBy" type="radio" value="productName" class="form-check-input" id="nameRadio">
                      <label class="form-check-label" for="nameRadio">Name</label>
                    </div>
                </div>


                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Search</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>


      <!-- COLONNA 2 -->
      <div class="products-column col-12 col-md-8 fixed-height-col">

        <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center h-100">
          <div id="server-response" class="my-2">
            <div class="loader">
              <div class="spinner-grow" style="background-color: #6C2483;" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div class="spinner-grow" style="background-color: #E94E1B;" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div class="spinner-grow" style="background-color: #EF790C;" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div class="spinner-grow" style="background-color: #FFED00;" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!isLoading" class="card-container py-3 d-flex flex-wrap justify-content-center">

          <a href="javascript:void(0)" (click)="showProduct(product)"  *ngFor="let product of productsList" class="card-link position-relative d-flex justify-content-center align-items-center">
            <div class="card rounded-5 px-3 py-2 d-flex flex-column justify-content-center" (mouseover)="product.showTextProduct=true" (mouseout)="product.     showTextProduct=false">
              <div class="d-flex justify-content-between align-items-center">
                <h4 class="text-white m-0 fs-5 ellipsis">{{product.brand.brandName}}</h4>
                <div>
                  <img [src]="product.brand.brandLogo" style="height: 18px;" alt="">
                </div>
              </div>
              <div class="d-flex justify-content-center h-100 overflow-hidden pt-3">
                  <img [src]="product.productPicture" style="object-fit: cover;" alt="">
              </div>
                <div class="d-flex justify-content-between align-items-center" [class]="{
                  'justify-content-center': userType === 'Brand',
                  'justify-content-between': userType !== 'Brand'
                }">
                  <a *ngIf="userType === 'User'" href="javascript:void(0)" (click)="addLike(product); $event.stopPropagation();">
                    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="23" viewBox="0 0 27 23" [attr.fill]="product.isLiked ? 'red' : 'none'">
                      <path d="M18.7778 1C16.4444 1 14.3889 2.16667 13.2222 4C12.0556 2.16667 10 1 7.66667 1C4 1 1 4 1 7.66667C1 14.2778 13.2222 21 13.2222 21C13.2222 21 25.4444 14.3333 25.4444 7.66667C25.4444 4 22.4444 1 18.7778 1Z" stroke="white" stroke-width="2"/>
                    </svg>
                  </a>
                  <p class="text-white m-0 fst-italic fw-bold fs-4">{{product.price}}€</p>
                </div>
            </div>

            <div *ngIf="product.showTextProduct" class="text-product position-absolute  text-center p-0">
              <p class="text-white m-0">Code# {{product.productCode}}</p>
              <div class="m-0 p-0 my-1" style="height: 3px; background-color: white;"></div>
              <p class="text-white">{{product.productName}}</p>
            </div>
          </a>

        </div>
      </div>
    </div>
  </div>
</main>
